p
  | Aplikaci zobrazení objednávek rozšíříme o autentizaci.
  br
  | Rest API je stejné jako v příkladu objednávek, navíc máme endpoint pro přihlášení a ostatní endpointy vyžadují oprávnění.

p
  | Nepřihlášený uživatel nemá přístup k ničemu,
  br
  | Jsou zde dvě role #[strong ROLE_USER], #[strong ROLE_OPERATOR]

  ul
    li #[strong ROLE_USER]  - může zobrazit záznamy
    li #[strong ROLE_OPERATOR]  - může vytvářet nový záznam, mazat a měnit stav stávajících

p Hlavním úkolem je oživit přihlášení a obohatit aplikaci o prvky rozdělující chování pro role

.warning Pokud budete mazat záznamy, mažte ty, které jste sami vytvořili, data sdílíte s ostatními.

h3 0 - Vyzkoušejte
ul
  li.task přejděte na záložku s objednávkami odkazem v menu
  li v konzoli je vidět odpověď 401

ul
  li.task přejděte na úvodní stránku
  li uvidíte tlačítka simulující přihlašovací formulář
  li podívejte se jakou službu/metodu provolávají (HomeCtrl - #[em controllers.js]) - implementaci přihlášení budeme řešit v dalším kroku

h3 1 - Oživení přihlášení

h4 1.1 - odešlete přihlašovací údaje
p.
  V #[strong authService] (#[em services.js]) najdeme skelet metody #[strong login], kterou nyní dokončíme.
ul
  li.task odešlete metodou #[strong POST] přihlašovací údaje na adresu z konstanty #[strong LOGIN_URI]
  li.task jako reakci použijte metody #[strong successLogin] a #[strong failedLogin]

hint.
  Použijte službu #[strong $http] a její metodu #[strong post(url, data)]. Metoda vrací promise

solution
  :highlight-js
    return $http.post(LOGIN_URI, credentials)
      .then(this.successLogin.bind(this))
      .catch(this.failedLogin.bind(this));

h4 1.2 - přidejte token do defaultní hlavičky
p.
  Nyní bychom se mohli přihlásit, ale protože token získaný při přihlášení nepřikládáme k dalším požadavkům,
  server by stále odpovídal status kódem 401.
p.
  V metodě #[strong successLogin] jsou získána data uživatele, token je k dispozici v #[strong user.token].

ul
  li.task vložte token do defaultních hlaviček,
  li.task jako klíč objektu #[strong $http.defaults.headers.common] použijte konstantu #[strong AUTH_HEADER]

solution
  :highlight-js
    $http.defaults.headers.common[AUTH_HEADER] = user.token;

h3 2 - Vyzkoušejte

ul
  li V tuto chvíli je již možné se přihlásit a po přihlášení se zobrazí seznam objednávek
  li v konzoli si můžete prohlédnout síťovou komunikaci, kdy po přihlášení je k požadavkům přikládán token

h3 3 - Posílání přihlašovacího tokenu interceptorem

p.
  Nyní je po přihlášení vložen token do standardních hlaviček.
  Tento způsob ale vyžaduje právě ono vložení na základě konkrétní akce a jeho odebrání v případě neplatnosti.
  Vhodnějším způsobem je využití interceptoru, který přidá token do odchozích požadavků dynamicky kdykoli je přítomen.

p.
  Abychom mohli token přikládat k požadavkům, potřebujeme ho mít také uložený. Můžeme jej udržovat jen v JS objektu (v paměti),
  to by ale znamenalo, že po každém reloadu stránky bude nutné nové přihlášení.
  My jsme proto zvolili uložení do local storage, které nám zapouzdřuje služba #[strong authService].
ul
  li.task Podívejte se jak vypadá #[strong authStorage] a jak jej #[strong authService] využívá (#[em services.js])

h4 3.1 - přidejte token do hlaviček

ul
  li.task v interceptoru #[strong tokenInterceptor](#[em app.js]) přidejte do objektu hlaviček token
  li.task získáte jej pomocí metody #[strong authService.getToken]

solution
  :highlight-js
    config.headers[AUTH_HEADER] = authService.getToken();

h4 3.2 - přidejte interceptor

p.
  Interceptor je třeba přidat v konfigurační fázi, je již připraven skelet funkce #[strong configInterceptors] (#[em app.js])

ul
  li.task přidejte interceptor #[strong tokenInterceptor] mezi interceptory v provideru #[strong $httpProvider]
  li.task původní nastavení hlavičky v metodě #[strong authService.loginSuccess] odstraňte

hint Interceptory jsou představovány polem #[strong $httpProvider.interceptors], přidat další můžete metodou #[strong push].

solution
  :highlight-js
    $httpProvider.interceptors.push(tokenInterceptor);


ul
  li Aplikace nyní čte token z local storage a uživatel zůstane přihlášen i po obnovení stránky.

h3 4 - Vyzkoušejte

ul.task
  li přihlaste se nejprve jako operátor
  ul
    li vyzkoušejte přechod na výpis objednávek
    li vytvoření a smazání záznamu

ul.task
  li odhlaste se

ul.task
  li přihlaste se jako uživatel
  ul
    li podívejte se, že požadavek na smazání záznamu hlásí 403 v konzoli
    li stejně se chová i změna stavu objednávky

h3 5 - Kontrola rolí při zobrazení prvků na výpisu

p Api zabrání uživateli provést neautorizovanou operaci, GUI by však toto nemuselo zobrazovat

h4 5.1 - zobrazte prvky pouze pro roli ROLE_OPERATOR

ul.task
  li V #[em orderList.html] zobrazte select se stavy pouze pro roli #[strong ROLE_OPERATOR]
  li stejně tak i tlačítko pro mazání
  li využijte přímo metodu #[strong authService.hasRole], služba je v šabloně dostupná jako #[strong list.authService]

solution
  :highlight-html
    <select ng-if="list.authService.hasRole('ROLE_OPERATOR')" ... >
    ...

  :highlight-html
    <a ng-if="list.authService.hasRole('ROLE_OPERATOR')"
       ng-click="list.removeOrder(order)" class="btn btn-danger">
       Odstranit</a>

h4 5.2 - zobrazte text pouze když uživatel nemá ROLE_OPERATOR
ul
  li roletka změny stavu je nyní skryta, můžeme místo ní zobrazit nyní skrytou textovou variantu
  li.task text zobrazte pro uživatele, kteří nemají roli #[strong ROLE_OPERATOR]

solution
  :highlight-html
    <span ng-if="!list.authService.hasRole('ROLE_OPERATOR')">{{list.statuses[order.status]}}</span>

h4 5.3 - zobrazte odkaz na objednávky pro roli ROLE_USER
p.
  V předchozích krocích jsme používali službu #[strong authService], to ale znamená, že ji musíme mít dostupnou jako vlastnost kontroleru.
  Protože oprávnění řešíme v aplikaci poměrně často, znamenalo by to definovat vlastnosti téměř v každém kontroleru,
  případně ji přidávat jako vlastnost na #[strong $rootScope], abychom ji mohli použít všude - #[strong ani jedno z řešení není dobré].
p.
  Elegantnější řešení je zapouzdřit si logiku do direktivy, jako jsme tu udělali v tomto kroku.

ul
  li podívejte se na direktivu #[strong auth-has-role], ta se používá jako parametr a zobrazí element na základě přítomnosti předané role
  li.task použijte direktivu na odkaz na objednávky v menu (#[em index.html])

solution
  :highlight-html
    <ul class="nav navbar-nav" auth-has-role="ROLE_USER">

h4 5.4 - zobrazení tlačítka pro roli ROLE_OPERATOR
ul
  li.task odkaz pro přidání záznamu zpřístupněte jen pro roli #[strong ROLE_OPERATOR]

solution
  :highlight-html
    <span class="navbar-form navbar-left" auth-has-role="ROLE_OPERATOR">

h3 6. Vyzkoušejte, že se zobrazují pouze věci, dostupné pro roli uživatele.
