p Než začnete, prohlédněte si použití komponenty v #[em index.html] (ř. 14)

ul
  li Pro tento příklad jsou připraveny také testy, spusťe v terminálu příkaz:

snippet.
  npm run test-09-component-basic

ul
  li Výsledky se budou zobrazovat v konzoli, ale také zde v prohlížeči.
.warning Abyste si byli jisti, že je výsledek aktuální, je v pravém rohu zobrazen čas spuštění testů.

h3 1 - Doplňte definiční objekt komponenty baconIpsum
ul
  li cílem tohoto cvičení je postupné budování definičního objektu komponenty v #[em app.js]

h4 1.1 - Šablona a předání dat
ul.task
  li definujte šablonu directivy - #[strong baconIpsum.html]

hint Šablonu určíte pomocí atributu #[strong templateUrl]

solution
  :highlight-js
    var baconIpsumComponent = {

      templateUrl: 'baconIpsum.html',

    };

tests(todo="1.1.1")

ul.task
  li definujte komponentě #[strong controller]
  li přidejte v něm vlastnost #[strong data],
  li jako hodnotu jí předejte připravenou proměnnou #[strong fakeData] obsahující kolekci odstavců
  li controller pojmenujte tak aby se v šabloně jmenoval #[strong bacon]

hint Controller komponenty můžete definovat inline přímo v definičním objektu.
  br
  | Pro pojmenování použijte atribut #[strong controllerAs], pokud jej neuvedete, bude se jmenovat #[strong $ctrl].
solution
  :highlight-js
    var baconIpsumComponent = {

      templateUrl: 'baconIpsum.html',
      controller: function() {
        this.data = fakeData;
      },
      controllerAs: 'bacon'

    };

tests(todo="1.1.2")

ul
  li prohlédněte si šablonu #[em baconIpsum.html] a ověřte, že se komponenta správně vykresluje

h4 1.2 - Použití služby a skutečných dat

ul
  li pro získání dat použijte existující službu #[strong generator], která generuje náhodný text

ul
  li.task injektněte službu #[strong generator] do controlleru
  li.task volejte její metodu #[strong getParagraphs], zatím bez parametrů

hint Pro injektnutí stačí uvést závislost v parametrech funkce controlleru

solution
  :highlight-js
    var baconIpsumComponent = {
      templateUrl: 'baconIpsum.html',

      controller: function(generator) {
        this.data = generator.getParagraphs();
      },
      controllerAs:'bacon'
    };

tests(todo="1.2")

h3 2 - Atributy komponenty

h4 2.1 - Atribut pro počet odstavců
ul
  li chceme, aby počet odstavců bylo možné nastavit atributem html elementu komponenty

ul.task
  li odkomentujte v #[em index.html] následující kód a všimněte si atributu #[strong paragraphs]

snippet
  :highlight-html
    <bacon-ipsum paragraphs="2"></bacon-ipsum>

ul.task
  li přidejte do definičního objektu komponenty binding #[strong paragraphs] jeho typ bude expression
  li předejte hodnotu atributu jako první parametr metody #[strong generator.getParagraphs]

hint
  p Bindingy se zapisují ve vlastnosti #[strong bindings], která má signaturu
    snippet.
      bindings: {
        name: '<type>'
      }

  p Typ expression má zástupný znak #[strong @]
  p K bindingům můžete poté přistupovat přes #[strong this] jako k vlastnostem.

solution
  :highlight-js
    var baconIpsumComponent = {
      templateUrl: 'baconIpsum.html',

      bindings: {
        paragraphs: '@'
      },

      controller: function(generator) {
        this.data = generator.getParagraphs(this.paragraphs);
      },
      controllerAs:'bacon'
    };

tests(todo="2.1")

ul
  li zkontrolujte, že komponenta zobrazuje dva odstavce

h4 2.2 - Atribut titulku a dynamická změna
ul
  li.task odkomentujte TODO 3 v index.html a všimněte si atributu #[strong title] a způsobu předávání hodnoty.

snippet
  :highlight-html
    <bacon-ipsum paragraphs="{{vm.paragraphs}}" title="vm.title"></bacon-ipsum>
ul
  li chceme, aby direktiva přijímala atribut #[strong title] jako titulek
  li.task všimněte si rozdílu předávání dat titulku a počtu odstavců
    ul
      li počet odstavců bindujeme jako expression, titulek budeme bindovat jako #[strong one-way binding].

ul.task
  li přidejte binding #[strong title] jako one way binding

hint One way binding vyjádříte pomocí symbolu #[strong <]

solution
  :highlight-js
    bindings:{
      paragraphs: '@',
      title: '<'
    }

tests(todo="2.2")

ul
  li title už je v šabloně připraven, nyní zkontrolujte, že binding funguje (titulek se mění při změně inputu)

tests-results(title-only)

h3 3 - Extra

h4 3.1 - Two way binding

p Vyzkoušíme předání titulku dvoucestným databindingem a jeho přímou modifikaci v komponentě.

ul
  li.task Přidejte mezi bindingy atribut #[strong titleTwoWay] jako dvoucestný databinding
  li.task Do šablony #[em baconIpsum.html] přidejte input field namapovaný na tento atribut

snippet
  :highlight-html
    Title: <input type="text" ng-model="bacon.titleTwoWay" ng-if="bacon.titleTwoWay"/>

ul
  li.task v #[em index.html] předejte tímto atributem #[strong vm.title], stejně jako u titulku předávaného one way bindingem.

hint Nezapomeňte, že zatímco v javascriptu se používá #[strong camelCase], v názvech atributů se používá #[strong dash-case]

solution
  em app.js
  hr
  :highlight-js
    bindings: {
      paragraphs: '@',
      title: '<',
      titleTwoWay: '=',
    },

  hr
  em index.html
  hr
  :highlight-html
    <bacon-ipsum paragraphs="{{vm.paragraphs}}"
                 title="vm.title"
                 title-two-way="vm.title">
    </bacon-ipsum>
ul
  li Zkontrolujte, že se při titulku změně vně i vevnitř titulek mění, všimněte si, že je model propagován i do bindingu title.
  li Můžete vyzkoušet změnit mapování input prvku v #[em baconIpsum.html] na bacon.title a ověřit, že se ven změna nepropaguje

h4 3.2 - Dynamická změna počtu odstavců

ul
  li.task Přidejte do #[em index.html] input pro změnu počtu odstavců

snippet
  :highlight-html
    Number of paragraphs: <input type="number" ng-model="vm.paragraphs"/>

ul
  li změna čísla způsobí propagaci do komponenty, na načtení odstavců to nemá vliv, protože se načtení dat vykoná jen nazačátku.
  li.task definujte v controlleru komponenty metodu #[strong $onChanges] a načtení dat proveďte v ní.

ul
  li změna čísla už se projeví, všimněte si ale, že se odstavce změní i při změně titulku.
  li.task reagujte na změny pomocí kontroly vlastnosti #[strong paragraphs] change objektu, který dostane metoda #[strong $onChanges]

solution
  :highlight-js
    controller: function(generator) {
       this.$onChanges = function(changesObj) {
         if (changesObj.paragraphs) {
           this.data = generator.getParagraphs(this.paragraphs);
         }
       };
     },

h3 3.3 - Binding událostí
p.
  Komponenta umožňuje v rámci svého rozhraní vystavit také události, stejně jako běžné elementy v HTML.
  Naše komponenta je jednoduchá a nedochází v ní k žádné velké interakci s uživatelem, můžeme ale dát možnost reagovat na změnu obsahu odstavců, na který se mohou vázat ostatní předáním callback funkce.

ul
  li.task přidejte do definičního objektu komponenty binding #[strong onChange] typu #[strong &]
  li.task volejte předaný callback ve chvíli, kdy jsou načítána data. Předejte data jako parametr
    hint Parameter se předávají nikoli přímo, ale formou objektu s pojmenovanými atributy, které odpovídají použití v html.

  li.task v #[em index.html] předejte do atributu #[strong on-change] volání metody controlleru #[strong onChangeCallback] jako parametr vyžadujte #[strong data]

solution
  em app.js
  hr
  :highlight-js
    var baconIpsumComponent = {
      templateUrl: 'baconIpsum.html',

      bindings: {
        paragraphs: '@',
        title: '<',
        titleTwoWay: '=',
        onChange: '&'
      },

      controller: function(generator) {
        this.$onChanges = function(changeObj) {
          if(!changeObj.paragraphs) {
            return;
          }

          this.data = generator.getParagraphs(this.paragraphs);
          this.onChange({data:this.data});
        }
      },
      controllerAs:'bacon'
    };

  hr
  em index.html
  hr
  :highlight-html
    <bacon-ipsum paragraphs="{{vm.paragraphs}}"
                 on-change="vm.onChangeCallback(data)"
                 title="vm.title"
                 title-two-way="vm.title">
    </bacon-ipsum>

ul
  li Zkontrolujte, že se při změně dat tato zalogují do konzole

