<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>04-protractor | Angular.cz</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="UserController as vm" class="container">
    <div class="row">
      <div class="col-md-4 well">
        <label for="userName">Jméno</label>
        <input id="userName" class="form-control" ng-model="vm.user.name" />
        <label for="userSurname">Příjmení</label>
        <input id="userSurname"  class="form-control" ng-model="vm.user.surname" />
        <label for="yearOfBirth">Rok narození</label>
        <input id="yearOfBirth"  class="form-control" type="number" ng-model="vm.user.yearOfBirth" />
      </div>

      <div class="col-md-offset-1 col-md-5 well">
        <div>Jméno: {{vm.user.name}}</div>
        <div>Příjmení: {{vm.user.surname}}</div>
        <div>Věk: {{vm.getAge()}}</div>
      </div>
    </div>
  </body>
</html>
