<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>01-templates | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
</head>

<!-- TODO 1 - doplňte direktivu inicializující angular -->
<body>
<!-- Přepínání cvičení - ignorujte  @formatter:off--><div style="padding:20px" class="text-center"><a href="/00-javascript" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 00-javascript</a><span class="h3">01-templates</span><a href="/02-controller" style="float:right" class="btn btn-default">02-controller<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<script type="text/javascript">
  var globalVariable = 42;
</script>

<div class="container">
  <h3>Expressions</h3>
  <div class='well'>
    <ul>
      <!-- TODO 2 - vyzkoušejte různé výrazy -->
      <li>1 + 3 =</li>
      <li>1 * 5 =</li>
      <li>ternary-true:</li>
      <li>ternary-false:</li>
      <li>globalVariable:</li>
      <li>window.globalVariable:</li>
    </ul>
  </div>

  <h3>Databinding</h3>
  <div class="well input-group">

    <!--TODO 3.1 - přidejte atribut ng-model-->
    <input type="number" class="form-control">
    <div class="input-group-addon operand">+</div>

    <!--TODO 3.1 - přidejte atribut ng-model-->
    <input type="number" class="form-control">
    <div class="input-group-addon operand">=</div>

    <div class="input-group-addon result">
      <!--TODO 3.2 - vypište hodnotu součtu-->

    </div>
  </div>

</div>
</body>
</html>
